<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="BepInEx" value="https://nuget.bepinex.dev/v3/index.json" />
    <add key="Samboy Feed" value="https://nuget.samboy.dev/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/kremnev8/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="kremnev8" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>